.mainSection {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
    width: 90vw;
}

.descriptionbox{
  max-width: 600px;
}



.image {
    position: relative;
    display: inline-block;
    width: 80vw;
    margin: 0 auto;
}
.image img{
    height: auto;
    width: 100%;
    /* margin-left:20px; */
    position: relative;
    z-index:0;
    border: 0.5px solid #daab2d;
}

.image::before{
    content: "";
  position: absolute;
  width: 100%;
  height: 100%;
    background-color: #daab2d;
    transform: rotate(-6deg);
      z-index: 0; 

}
/* 
.descriptionbox h3{
  font-size: 1rem;
} */



@media (max-width: 1024px) {
  .mainSection {
    flex-wrap: wrap;
  }
}