/* Base: Mobile First */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #020b13;
  z-index: 1000;
}

.navbarcontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
}

.logo-and-toggle {
  display: flex;
  align-items: center;
}

.hamburger {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Hidden by default on mobile */
.nav-links {
  display: none;
  flex-direction: column;
  background-color: #020b13;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  padding: 1rem;
}

.nav-links a, .dropbtn {
  color: white;
  padding: 0.6rem 0.9rem;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  transition: color 0,3ms;
}

.nav-links > a:hover {
  background-color: #daab2d;
  color: white;
}

.dropbtn:hover {
  background-color: #daab2d;
  color: white;
}



.sub-dropdown-content {
  padding: 0;
  margin: -4px;
  padding-left: 2.5rem;
}


.sub-dropdown-content a{
  font-size: 0.9rem;
}



.dropdown-content {
  display: none;
  flex-direction: column;
  background-color: #020b13;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Show mobile nav when active */
.nav-links.active {
  display: flex;
}

.nav-links a:active {
  background-color: #daab2d;
  color: white;
}

/* Desktop styles */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .navbarcontent {
    max-width: 1200px;
    margin: 0 auto;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    gap: 1rem;
    background: none;
    padding: 0;
    margin: 0 auto;
  }

  .nav-links a, .dropbtn {
    padding: 15px 25px;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-content {
    position: absolute;
    background-color: #020b13;
    min-width: 190px;
    top: 100%;
    left: 0;
    display: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .sub-dropdown-content:hover a{
    color: #daab2d;
  }

  
}
