.eventSection {
    background-color: #f1f1f1;
    z-index: -2;
    border-top: 3px solid #daab2d;
    padding-bottom: 20px;
}
.header {
    text-align: start;
    margin: 30px;
    margin-bottom: 5.7rem;
}
.heading{
    display: inline-block;
    
    height: 90px;
    width: max-content;
}

.header h2{
    background: linear-gradient( transparent 60%, #daab2d 60%);
    width: 105%; 
   
}

@media (max-width: 738px){
    .header{
        margin-bottom: 3.5rem;
    }
}