.eventSection {
    background-color: #f1f1f1;
    z-index: -2;
    border-top: 3px solid #daab2d;
    padding-bottom: 20px;
}
.header {
    text-align: start;
    margin: 30px;
    margin-bottom: 50px;
}
.heading{
    display: inline-block;
    height: 90px;
    width: 300px;
    background: linear-gradient( transparent 60%, #daab2d 60%);
}
