
.sign-up-form {
    margin: auto 60px;
    font-size: 20px !important;
    text-align: center;
}
.sign-up-form div{
    
    max-width: 300px;
    text-align:left;
    margin: 20px auto;
}

.sign-up-form input, select{
    border-radius: 0%;
    border-width: 1px;
    height: 20px;
    margin-left: 5px;
}